@import '~font-awesome/css/font-awesome.css'
@import '~roboto-fontface/css/roboto-fontface.css'

@import './items.sass'

body,html,.application
  height: 100%
  width: 100%
  font-family: Roboto
  font-size: 12px

*
  margin: 0px
  padding: 0px
  box-sizing: border-box

.application
  background-color: #fff
  display: flex

.mobile-wrapper
  position: relative
  display: flex
  margin: auto
  flex-direction: column
  width: 300px
  height: 480px
  overflow: hidden
  background: radial-gradient(#673ab7, lighten(#673ab7, 5%))
  box-shadow: 1px 1px 5px #444

.mobile
  &_subnav
    margin: 17px 20px
    color: #fff
    &--desc
      float: left
      margin-top: 10px
      font-size: 14px
      text-transform: uppercase
    &--icons
      float: right
      font-size: 18px

  &_button
    width: 45px
    height: 45px
    line-height: 45px
    text-align: center
    font-size: 24px
    border-radius: 100%
    color: #fff
    box-shadow: 0px 1px 3px #444
    position: absolute
    z-index: 1
    bottom: 20px
    right: 20px
    cursor: pointer
    &:hover
      box-shadow: 0px 1px 5px #444
    &--add
      background: #00bfa5

  =navItem
    width: 100%
    position: absolute
    left: 0px
    top: 0px

  &_nav
    position: relative
    height: 20px
    line-height: 20px
    width: 96%
    margin: 0px auto
    color: #fff
    font-size: 12px

  &_nav--dots
    display: inline-block
    & > span
      display: block
      float: left
      background: #fff
      width: 5px
      height: 5px
      border-radius: 100%
      margin: 0px 1px

  &_nav--left
    +navItem

  &_nav--center
    +navItem
    font-weight: bold
    text-align: center

  &_nav--right
    +navItem
    text-align: right
